[submodule "Explicit-MATLAB"]
	path = Explicit-MATLAB
	url = https://github.com/explicit-robotics/Explicit-MATLAB.git
[submodule "GeometryLibrary"]
	path = GeometryLibrary
	url = https://github.com/mosesnah-shared/GeometryLibrary
[submodule "export_fig"]
	path = export_fig
	url = https://github.com/altmany/export_fig.git
